<p>Calculator</p>
<span class="result"> {{ calc }} </span>
<table>
  <td *ngFor="let item of calcbuttons; let i = index">
    <button class="btn-n" (click)="click(item)" *ngIf="i<4;">
      {{ item.label }}
    </button>
  </td>
  <tr>
  <td *ngFor="let item of calcbuttons; let i = index">
  <button class="btn-n" (click)="click(item)" *ngIf="">
    {{ item.label }}
  </button>
</td>
</tr>
  <!-- <tr>
    <button class="btn-oc" (click)="clear()">C</button>
    <button class="btn-oc" (click)="clearL()">CE</button>
  </tr>

  <tr>
    <button class="btn-n" (click)="c(7)">7</button>
    <button class="btn-n" (click)="c(8)">8</button>
    <button class="btn-n" (click)="c(9)">9</button>
    <button class="btn-o" (click)="cO(S)">-</button>
  </tr>
  <tr>
    <button class="btn-n" (click)="c(4)">4</button>
    <button class="btn-n" (click)="c(5)">5</button>
    <button class="btn-n" (click)="c(6)">6</button>
    <button class="btn-o" (click)="cO(M)">*</button>
  </tr>
  <tr>
    <button class="btn-n" (click)="c(1)">1</button>
    <button class="btn-n" (click)="c(2)">2</button>
    <button class="btn-n" (click)="c(3)">3</button>
    <button class="btn-o" (click)="cO(A)">+</button>
  </tr>
  <tr>
    <button class="btn-o" (click)="cO(do)">.</button>
    <button class="btn-n" (click)="c(0)">0</button>
    <button class="btn-o" (click)="calculate()">=</button>
    <button class="btn-o" (click)="cO(D)">/</button>
  </tr> -->
</table>
