<div class="overlay">
  <img
    src="https://c.tenor.com/_4YgA77ExHEAAAAM/rick-roll.gif"
    class="rr"
    id="rr"
  />
  <p>Calculator</p>
  <span class="result"> {{ calc }} </span>
  <div class="btns">
    <button class="btn-n" (click)="clearL()" id="btnce">CE</button>
    <button class="btn-n" (click)="clear()" id="btnc">C</button>
    <div
      *ngFor="let item of calcbuttons; let i = index"
      class="maindivcalculator"
    >
      <button class="btn-n ripple" (click)="click(item)" nc-ripple style="">
        {{ item.label }}
      </button>
    </div>
  </div>
</div>
